[Unit]
Description = NatureBridge
After = local-fs.target network-online.target

[Service]
WorkingDirectory = /opt/NatureBridge
Environment = "ACCESS_TOKEN="
ExecStart = /opt/NatureBridge/bin/python /opt/NatureBridge/main.py

[Install]
WantedBy = multi-user.target
